:root {
  --white: white;
  --grey: #f5f5f5;
  --dark-grey: #989898;
  --lilac: #b8c3ff;
  --red: #ffc8c8;
  --dark-red: red;
  --orange: #f7e3bf;
  --dark-orange: orange;
  --green: #95de95;
  --dark-green: green;

  --calendar-gap: 10px;
}